#.git/*
#.gitignore
#.project
#.pydevproject
#**/*.pyc
#**/*.py~
#results.xml
#runs/*
#.idea/*
#test/talktalk_player/**
#!test/talktalk_player/**/test.py
#test/youview_player/**
y

**/*
**/*.xls
**/screenshot.png
!**/*.py
!**/*.png

